.tooltip {
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translateY(-50%);
  background-color: #000;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.relative:hover .tooltip {
  opacity: 1;
}
